.linkItemMainContainer {
    background-color: #efecec;
    border-radius: 10px;
    margin-bottom: 15px;
}

.linkItemHeaderContainer {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin-left: 3%;
}

.linkItemHeaderLeftContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    font-size: 13px;
}

.linkItemDragNDropImage {
    cursor: pointer;
}

.linkItemRemoveButton {
    background-color: inherit;
    border: none;
    margin-top: 8px;
    cursor: pointer;
}

.linkItemRemoveButton:hover {
    font-weight: bold;
}

.linkItemBodyContainer {
    width: 94%;
    margin-left: 3%;
}

.linkItemInputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.linkItemInputLable {
    font-size: 13px;
    margin-bottom: 10px;
}

.linkItemInputField {
    height: 25px;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
}

.linkItemInputField:focus {
    outline: none;
}