.logoMainContainer {
    margin-left: 7%;
    width: 200px;
    height: 100%;
}

.logoImageLarge {
    height: 85%;
}

.logoImageSmall {
    display: none;
}

/* tablet size devices*/
@media (min-width: 768px) and (max-width: 1023px) {
}

/* mobile size devices*/
@media (max-width: 767px) {
    .logoImageLarge {
        display: none;
    }
    
    .logoImageSmall {
        display: block;
        height: 100%;
    }
}