.navbarMainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-family: 'InstrumentSans-SemiBold';
    background-color: white;
    width: 98%;
    margin-top: 10px;
    border-radius: 7px;
}

.navbarLeftContainer {
    height: 60%;
    width: 220px;
}

.navbarCenterContainer {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
}

.navbarCenterLink, .navbarRightLink, .navbarCenterLinkActive {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 20px;
    margin: 0 10px;
}

.navbarCenterLink:hover {
    border: 1px solid #737373;
    border-radius: 10px;
}

.navbarCenterLink {
    color: #737373;
}

.navbarCenterLinkActive {
    color: #633CFF;
    background-color: #633cff3c;
    border-radius: 10px;
}

.navbarRightContainer {
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3%;
    border: 1px solid #737373;
    border-radius: 10px;
    cursor: pointer;
}

.navbarRightContainer:hover {
    border: 1px solid #633CFF;
}

.navbarItemIcon {
    margin-right: 5px;
    height: 25px;
}

.navbarItemName {
    font-size: 16px;
}

.navbarRightContainer img {
    display: none;
}

.navbarRightContainer span {
    color: #633CFF;
}

/* tablet size devices*/
@media (min-width: 768px) and (max-width: 1023px) {
    .navbarCenterContainer {
        width: 45%;
    }   
}

/* mobile size devices*/
@media (max-width: 767px) {
    .navbarMainContainer {
        height: 60px;
    }

    .navbarLeftContainer {
        width: 60px;
        margin-left: 10px;
        height: 70%;
    }

    .navbarItemName {
        display: none;
    }

    .navbarRightContainer img {
        display: inline;
    }

    .navbarRightContainer {
        padding: 2px;
        width: 45px;
    }

    .navbarRightLink, .navbarCenterLink, .navbarCenterLinkActive {
        height: 45%;
        width: 25%;
        padding: 5px 7px 5px 10px;
        justify-content: center;
    }

    .navbarItemIcon {
        height: 20px;
    }
}