.previewNavbarBackContainer {
    width: 100%;
    height: 300px;
    background-color: #633CFF;
    border-radius: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.previewNavbarMainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 20px;
    background-color: white;
    border-radius: 12px;
    width: 94%;
    margin-top: 10px;
    font-family: 'InstrumentSans-Bold';
}

.previewNavbarLink {
    font-size: 16px;
    text-decoration: none;
    padding: 10px 25px;
    border: 1px solid #737373;
    border-radius: 12px;
    color: #633CFF;
}

.previewNavbarLink:hover {
    border: 1px solid #633CFF;
}

.previewNavbarButton {
    font-size: 16px;
    background-color: #633CFF;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'InstrumentSans-SemiBold';
}

.previewNavbarButton:hover {
    box-shadow: 1px 1px 1px #737373;
}

/* tablet size devices*/
@media (min-width: 768px) and (max-width: 1023px) {
    .previewNavbarMainContainer {
        height: 20px;
    }

    .previewNavbarLink {
        font-size: 15px;
    }

    .previewNavbarButton {
        font-size: 15px;
    }
}

/* mobile size devices*/
@media (max-width: 767px) {
    .previewNavbarBackContainer {
        background-color: white;
        height: 80px;
    }

    .previewNavbarMainContainer {
        height: 20px;
    }

    .previewNavbarLink {
        font-size: 14px;
    }

    .previewNavbarButton {
        font-size: 14px;
    }
}